
 body {
            height: 100%;
            width: 100%;
            background-color: #e4eaec;
}
.aba {
        height: 8px;
        width: 8px;
}
#conteudo {
            height: 100%;
            width: 0 auto;
            background-color: transparent;
}
#a1 {
        height: 400px;
        width: auto;
        margin-top: 100px;
        border-radius: 50%;
    }
#footer {
            height: 65px;
            width: 100%;
            background-color: black;
            bottom: 0;
            border-top: 2.5px solid red;
            text-align: center;
            margin-bottom: 0px;

}
#linkedin { 
    height: 50px;
    width: 50px;
    margin: 0.1% 0% 0% 0%;
}
#whats {
    height: 44px;
    width: 43px;
    margin-top: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px; 
}
.job {
    height: 100%;
    width: 100%;
    object-position: center;
}